/**************************************************/
/* HEADER */
/**************************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 12rem;
  padding: 0 12.6rem;
  position: relative;
}

/**************************************************/
/* NAVIGATION */
/**************************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:not(:last-child) {
  color: #444;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #000;
}
.contact-nav {
  display: flex;
  align-items: center;
  background-color: #996830;
  padding: 1.4rem 1.8rem;
  text-transform: uppercase;
}

.contact-nav:hover,
.contact-nav:active {
  background-color: #c4853d;
}

.icon-contact {
  transform: rotate(45deg);
  text-align: center;
  color: #fff;
}

.nav-link {
  color: #fff !important;
}

/**************************************************/
/* Section HERO */
/**************************************************/
.section-hero {
  padding: 4.8rem 0 0 0;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
}
.heading-hero {
  font-size: 8rem;
}
.hero-text {
  font-style: italic;
}

.hero-description {
  height: 6.4rem;
  width: 65%;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

/* .hero-img-box {
  margin-bottom: 0;
} */

.here-img {
  max-width: 100%;
  height: auto;
}

/**************************************************/
/* Section AWARD */
/**************************************************/
.section-award {
  padding: 0 0 9.6rem 0;
}
.award {
  height: 12rem;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
}
.grid-awards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 6.2rem;
}
.award-title {
  font-size: 2rem;
  font-family: "Playfair Display";
  color: #a5a5a4;
  transform: rotate(-90deg);
}
.award-hr {
  width: 7rem;
}

.award-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.award-text {
  font-size: 2rem;
  padding-left: 1.2rem;
  font-weight: 500;
  color: #a5a5a4;
  line-height: 1.6;
}

/**************************************************/
/* Section ABOUT */
/**************************************************/
.section-about {
  padding: 4.8rem 0 0 0;
}

.about-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.about-title {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.about-title-italic {
  font-style: italic;
}

.about-img-box {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem; */

  display: flex;
  gap: 3.2rem;
}

.about-img-right {
  margin-top: 8.2rem;
}
